defmodule <%= Mix.Vbt.web_module_name() %>.ErrorViewTest do
  use <%= Mix.Vbt.test_module_name() %>.Web.ConnCase, async: true

  # Bring render/3 and render_to_string/3 for testing custom views
  import Phoenix.Template

  test "renders 404.json" do
    assert render(<%= Mix.Vbt.web_module_name() %>.ErrorView, "404.json", []) == %{errors: [%{message: "Not Found"}]}
  end

  test "renders 500.json" do
    assert render(<%= Mix.Vbt.web_module_name() %>.ErrorView, "500.json", []) ==
             %{errors: [%{message: "Internal Server Error"}]}
  end
end
